*{
  margin: 0;
  padding:0;
  box-sizing: border-box ;
}


body{
    font-family:sans-serif;
}
.container{
    width:100% ;
     
}

/*Nav*/

.nav{
    height: 80px;
    background-color:#ffffff;
    padding-left:5%;
     ;
}

.logo {
    height: 55%;
    width: 20%;
    margin-top: 1%;
    margin-right: 3%;
}

/*hamburger*/
span{
  display:block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 90%;
  top: -50px;
  background-color: #0068ff;
  
}

/*nav-list*/
.ul-nav{
    margin: 1% 5%;
}


.nav-list{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    color: black;
    vertical-align: 5px;
}

.bot-nav{
    display: inline-block;
    max-width: 150px;
    max-height: 40px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #0080FF;
    color: #0080FF;
    border-radius: 5%;
    margin-left: 10px;
}

/*ocean*/
.ocean{
    height:500px;
    background-color:#1f8ece;
    padding-left:5%;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: 115%;
    color: white;
    
}

.box{
    margin-left: 7%;
    margin-top: 3%;
    height: 30%;
    width: 30%;
    margin-right: 5%;
    vertical-align: middle;
    position: absolute;
    top: 12%;
    left: 0%;
}
.h1-o{
    font-size: 50px;
    margin-bottom:10px
}

.box2{
    margin-left: 7%;
    margin-top: 1%;
    height: 50%;
    width: 35%;
    background-color: #ffffff;
    color:black;
    float: left;
    margin-right: 5%;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    border-radius: 2%;

}
.h2-0{
    color:#1f8ece;
}

.dati{
    display: inline-block;
    padding-right: 315px;
    max-width: 150px;
    max-height: 46px;
    background-color: white;
    padding: 10px;
    padding-right: 350px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d2d8dd;
    color: #d2d8dd;
    border-radius: 5%;
    margin-left: 10px;
    margin-top:10px
}

.dati-b{
    display: inline-block;
    padding-right: 315px;
    max-width: 150px;
    max-height: 46px;
    background-color: #0080FF;
    padding: 10px;
    padding-right: 350px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d2d8dd;
    color: #d2d8dd;
    border-radius: 5%;
    margin-left: 10px;
    margin-top:10px
}

/********************************************************/

/*loghi*/

.partner{
    height:300px;
    background-color: rgb(243, 245, 249, 1);
    text-align:center
}
.partner-d{
    
    height:200px
    
}
.partner-g{
  
    height:200px
    
}
.partner-s{
  
    height:200px
    
}

.partner-h{
   
    height:200px
}
.partner-sp{
    
    height: 200px;
}

